* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
}

.steps {
  width: 25%;
  display: flex;
  position: absolute;
  margin-top: 83vh;
  margin-left: 44%;
}

.sliders {
  z-index: 15;
}

.step {
  width: 15%;
  height: 1vh;
  background-color: #ded3f5;
  margin-left: 18px;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .steps {
    margin-top: 60vh;
    margin-left: 50%;
  }
}

@media screen and (max-width: 600px) {
  .steps {
    width: 40%;
    margin-left: 25%;
  }
}

@media screen and (max-width: 425px) {
  .steps {
    margin-left: 0%;
  }
}